{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}


{% block content %}
<div class="header">
    <h1>新規登録</h1>
</div>

<form action="" method="post" style="padding: 20px;">{% csrf_token %}
    <label for="">ユーザー名</label>
    {{ form.username }}
    <label for="">パスワード</label>
    {{ form.password1 }}
    <label for="">確認用のパスワード</label>
    {{ form.password2 }}
    <br />
    <input type="submit" value="登録" class="searchButton" style="margin-top: 10px;">
</form>

<hr />

<div class="accountWrapper">
<p>すでにアカウントを持っている場合</p>
<a href="{% url 'login' %}" class="btn btn-primary" role="button">ログイン</a>
</div>
{% endblock content %}
